.popular__container {
  .popular__wrapper {
    margin-bottom: clamp(6.25rem, 5.357rem + 4.46vw, 7.5rem);
    /*320 - 762 / 100px - 120px*/

    .popular-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 100%;
      margin-bottom: 36px;

      h2 {
        font-size: clamp(
          1.125rem,
          0.5rem + 3.13vw,
          2.5rem
        ); /*320 - 1024 / 18px - 40px*/
        font-weight: 700;
        text-transform: capitalize;
      }
      p {
        font-size: clamp(
          0.5rem,
          0.216rem + 1.42vw,
          1.125rem
        ); /*320 - 1024 / 8px - 18px*/
        font-weight: 700;
        text-transform: capitalize;
        color: #777;
      }
    }

    .popular-block {
      display: flex;
      justify-content: space-between;
      gap: 68px;
      .popular-images {
        display: flex;
        align-items: end;
        gap: clamp(
          1.125rem,
          0.321rem + 4.02vw,
          2.25rem
        ); /*320 - 768 / 18px - 36px*/

        .images-content:nth-child(1) {
          position: relative;
          width: 357px;
          height: clamp(
            28.75rem,
            24.732rem + 20.09vw,
            34.375rem
          ); /*320 - 768 / 460px - 500px*/
          border-radius: 60px;
          user-select: none;
          background-image: url(./../img/img/backgrounds/work-2.webp);
          background-size: cover;
          background-position: center;
        }

        .images-content:nth-child(2) {
          position: relative;
          width: 212px;
          height: clamp(
            18.5rem,
            14.036rem + 22.32vw,
            24.75rem
          ); /*320 - 768 / 296px - 396px*/
          border-radius: 60px;

          user-select: none;
          background-image: url(./../img/img/backgrounds/work-1.webp);
          background-size: cover;
          background-position-x: 72%;
        }

        .images-content:nth-child(1)::before {
          content: " ";
          position: absolute;
          left: calc(50% - 27.5px);
          top: calc(50% - 27.5px);
          width: 55px;
          height: 55px;
          border-radius: 10px;
          background-image: url(../img/icons/Group-17767.webp);
          background-size: cover;
          cursor: pointer;
          filter: invert(1);
        }

        .images-content:nth-child(2)::before {
          content: " ";
          position: absolute;
          top: -102px;
          width: 52px;
          height: 52px;
          border-radius: 10px;
          opacity: 0.3;
          background: $--main-color;
        }
      }

      .popular-description-block {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .author {
          color: #777;
          margin-bottom: 10px;
          font-size: clamp(
            0.75rem,
            0.571rem + 0.89vw,
            1rem
          ); /*320 - 768 / 12px - 16px*/
          font-weight: 700;
          line-height: 30px; /* 166.667% */
          text-transform: uppercase;
        }

        h2 {
          font-size: clamp(1.5rem, 0.964rem + 2.68vw, 2.25rem)
            /*320 - 768 / 24px - 36px*/;
          font-weight: 700;
          line-height: 130%; /* 52px */
          text-transform: capitalize;
        }

        .info {
          display: flex;
          gap: 8px;
          font-size: clamp(
            0.75rem,
            0.571rem + 0.89vw,
            1rem
          ); /*320 - 768 / 12px - 16px*/
          font-weight: 400;
          line-height: 30px; /* 187.5% */
          margin: 16px 0px;

          p {
            color: #777;
          }
        }

        .description {
          color: #777;
          margin-bottom: 40px;
          font-size: clamp(
            0.875rem,
            0.696rem + 0.89vw,
            1.125rem
          ); /*320 - 768 / 14px - 18px*/
          font-weight: 400;
          line-height: 30px; /* 166.667% */
        }

        .audio-navigator {
          display: flex;
          align-items: center;

          .playpause-track {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 43px;
            height: 43px;
            padding: 8px;
            margin-right: 16px;
            font-size: 24px;
            border-radius: 100px;
            border: 1px solid $--gray-light;
            transition: all 0.2s ease;
            cursor: pointer;
          }

          .playpause-track:hover {
            color: $--main-color;
            transition: all 0.2s ease;
          }

          .intro-audio-info {
            font-size: clamp(
              0.75rem,
              0.571rem + 0.89vw,
              1rem
            ); /*320 - 768 / 12px - 16px*/
            font-weight: 400;

            .intro-audio-time {
              color: #777;
            }
          }
          button {
            margin-left: clamp(1.625rem, 0.33rem + 6.47vw, 3.438rem)
              /*320 - 768 / 26px - 55px*/;
            padding: 6px clamp(0.875rem, 0.607rem + 1.34vw, 1.25rem);
            /*320 - 768 / 14px - 20px*/
            font-size: clamp(0.875rem, 0.786rem + 0.45vw, 1rem)
              /*320 - 768 / 14px - 16px*/;
            font-weight: 600;
            line-height: 30px; /* 187.5% */
            border-radius: 55px;
            color: #fff;
            background: #191d23;
            transition: all 0.2s ease;
            cursor: pointer;
          }

          button:hover {
            background: $--main-color;
            transition: all 0.2s ease;
          }
        }
      }
    }
  }
}
