// @media (max-width: 1238px) {
//   .explore-more-list div.list-item:nth-child(n + 12) {
//     display: none;
//   }
// }

@media (max-width: 1092px) {
  .audio-player__container {
    .audio-player__wrapper {
      .audio-player__navigation {
        margin: 0;
        width: 100%;
      }
    }
  }

  .popular__container {
    .popular__wrapper {
      .popular-title {
        padding: 0 clamp(0rem, -1.813rem + 9.07vw, 4.375rem);
      }
    }

    .popular-block {
      flex-direction: column;
      .popular-images {
        justify-content: center;
      }

      .popular-description-block {
        padding: 0 clamp(0rem, -1.813rem + 9.07vw, 4.375rem);
      }
    }
  }
}

@media (max-width: 768px) {
  .header__container {
    .header-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: clamp(7.5rem, 5.714rem + 8.93vw, 10rem);
      height: 100%;
      top: clamp(5.375rem, 4.884rem + 2.46vw, 6.063rem);
      left: -80%;
      border-radius: 0 38px 38px 0;
      background-color: $--main-color;
      box-shadow: 20px 4px 40px #121212cf;

      ul {
        flex-direction: column;
        padding-top: 22px;
        padding-left: 44px;
        padding-bottom: 22px;
      }
    }

    .header-buttons {
      button#header-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        cursor: pointer;
      }
    }
  }

  .header-block__container {
    .header-block__wrapper {
      width: calc(894px / 1240px * 100%);
    }
  }

  .header-navbar {
    ul.navbar {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
    }
  }
}

@media (max-width: 497px) {
  .header-navbar {
    ul.navbar {
      flex-direction: column;
    }
  }
}

@media (max-width: 425px) {
  .audio-player__container {
    .audio-player__wrapper {
      .audio-player-info {
        margin-bottom: 10px;

        button {
          width: 34px;
        }

        button:nth-child(1) {
          display: none;
        }

        button:nth-last-of-type(1) {
          display: none;
        }
      }
    }
  }
}
