@media (max-width: 1440px) {
  .reviews-wrapper {
    padding: 110px clamp(3.75rem, 3.036rem + 3.57vw, 6.25rem);
    /*320 - 1440 / 60px - 100px*/

    .btn-next {
      right: 10px;
    }

    .btn-prev {
      left: 10px;
    }
  }
}

@media (max-width: 1092px) {
  .audio-player__container {
    .audio-player__wrapper {
      .audio-player__navigation {
        margin: 0;
        width: 100%;
      }
    }
  }

  .popular__container {
    .popular__wrapper {
      .popular-title {
        padding: 0 clamp(0rem, -1.813rem + 9.07vw, 4.375rem);
      }
    }

    .popular-block {
      flex-direction: column;
      .popular-images {
        justify-content: center;
      }

      .popular-description-block {
        padding: 0 clamp(0rem, -1.813rem + 9.07vw, 4.375rem);
      }
    }
  }
}

@media (max-width: 1050px) {
  .email-form-wrapper {
    .email-form-block {
      .images-content {
        background: none;
        z-index: -2;
      }
    }
  }
}

@media (max-width: 768px) {
  .header__container {
    .header-nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      width: clamp(7.5rem, 5.714rem + 8.93vw, 10rem);
      height: 100%;
      top: clamp(5.375rem, 4.884rem + 2.46vw, 6.063rem);
      left: -80%;
      border-radius: 0 38px 38px 0;
      background-color: $--main-color;
      box-shadow: 20px 4px 40px #121212cf;

      ul {
        flex-direction: column;
        padding-top: 22px;
        padding-left: 44px;
        padding-bottom: 22px;
      }
    }

    .header-buttons {
      button#header-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        cursor: pointer;
      }
    }
  }

  .header-block__container {
    .header-block__wrapper {
      width: calc(894px / 1240px * 100%);
    }
  }

  .header-navbar {
    ul.navbar {
      display: flex;
      flex-wrap: wrap;
      gap: 2px;
    }
  }

  .offer-wrapper {
    .offer-title {
      h2 {
        text-align: center;
      }

      p {
        padding: 0 20px;
      }
    }

    .offer-items {
      flex-direction: column;

      .item {
        p {
          width: 250px;
        }
      }
    }
  }

  .rate-warapper {
    .rate-switcher {
      p:nth-last-child(1)::after {
        top: 90px;
        right: -6px;
        font-size: 18px;
      }
    }

    .rate-switcher::after {
      top: 48px;
      right: 0px;
      transform: rotate(110deg);
    }

    .rate-list {
      margin-top: 125px;
      margin-bottom: 0;
      flex-direction: column;

      .list-item {
        width: 100%;

        .item-price {
          margin-top: 0;
        }
      }
    }
  }

  .email-form-wrapper {
    .email-form-block {
      .form-content {
        padding: 62px clamp(1rem, -2.571rem + 17.86vw, 6rem);
        /*320 - 768 /  x- 16px - 96px*/
      }
    }
  }
}

@media (max-width: 680px) {
  .email-form-wrapper {
    .email-form-block {
      height: 490px;
      transition: 0.2s;

      .form-content {
        form {
          flex-wrap: wrap;

          input {
            width: clamp(16rem, 2.667rem + 66.67vw, 19.5rem);
            /*320 - 404 / 256px - 312px*/
            padding: 16px clamp(1.25rem, -1.036rem + 11.43vw, 2rem);

            background-color: rgba(0, 0, 0, 0.4);
          }
        }
      }
    }
  }

  .footer__container {
    .footer-wrapper {
      .footer-header {
        flex-direction: column;
        align-items: center;
        gap: 30px;

        h4 {
          font-size: clamp(1.375rem, 0.819rem + 2.78vw, 2rem);
          /*320 - 680 / 22px - 32px*/
          text-align: center;
        }

        button {
          font-size: clamp(0.875rem, 0.764rem + 0.56vw, 1rem);
          /*320 - 680 / 14px - 16px*/
        }
      }

      .footer-info {
        flex-direction: column-reverse;
        gap: 60px;

        .description {
          width: 100%;

          h5 {
            font-size: clamp(0.875rem, 0.764rem + 0.56vw, 1rem);
            /*320 - 680 / 14px - 16px*/
          }

          p {
            padding-bottom: 20px;
            font-size: clamp(0.625rem, 0.403rem + 1.11vw, 0.875rem);
            /*320 - 680 / 10px - 14px*/
          }
        }

        .help-menu {
          display: flex;
          justify-content: space-between;
          margin-right: 0;
          gap: clamp(0.625rem, -0.486rem + 5.56vw, 1.875rem);
          /*320 - 680 / 10px - 30px*/

          .menu {
            p {
              font-size: clamp(0.875rem, 0.764rem + 0.56vw, 1rem);
              /*320 - 680 / 14px - 16px*/
            }

            ul {
              li {
                font-size: clamp(0.625rem, 0.403rem + 1.11vw, 0.875rem);
                /*320 - 680 / 10px - 14px*/
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 497px) {
  .header-navbar {
    ul.navbar {
      flex-direction: column;
    }
  }
}

@media (max-width: 425px) {
  .audio-player__container {
    .audio-player__wrapper {
      .audio-player-info {
        margin-bottom: 10px;

        button {
          width: 34px;
        }

        button:nth-child(1) {
          display: none;
        }

        button:nth-last-of-type(1) {
          display: none;
        }
      }
    }
  }

  .reviews-wrapper {
    padding: 110px 0;

    .btn-next {
      top: 90%;
      right: clamp(5rem, -2.619rem + 38.1vw, 7.5rem);
    }

    .btn-prev {
      top: 90%;
      left: clamp(5rem, -2.619rem + 38.1vw, 7.5rem);
    }
  }

  .rate-warapper {
    .rate-title {
      p {
        padding: 0;
      }
    }
  }

  .email-form-wrapper {
    .email-form-block {
      .form-content {
        p {
          width: 100%;
        }

        form {
          flex-direction: column;
          input {
            background-color: rgba(0, 0, 0, 0.4);
            transition: 0.2s;
          }
        }
      }
    }
  }
}
