@import "list.scss";
@import "reset.scss";

[class*="__container"] {
  max-width: 1255px;
  padding: 0 15px;
  margin: 0 auto;
}

// ===========================================================================BODY

body {
  background-image: url(@img/img/backgrounds/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}

// ===========================================================================HEADER

header {
  transition: all 0.5s ease;
  color: #fff;

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 114px;
    margin-top: clamp(0rem, -0.449rem + 2.24vw, 2.188rem);

    .header-logo {
      position: relative;
      font-size: clamp(1rem, 0.897rem + 0.51vw, 1.5rem);
      font-weight: 700;
      line-height: 34px; /* 141.667% */

      span {
        padding-left: 30px;
      }

      span::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 30px;
        height: 30px;

        background-image: url(@img/icons/bi_mic-fill.svg);
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    .header-nav {
      transition: all 0.5s ease;
      ul {
        display: flex;
        gap: clamp(1.25rem, 0.994rem + 1.28vw, 2.5rem);
        font-size: clamp(0.875rem, 0.798rem + 0.38vw, 1.25rem);
        font-weight: 400;
        line-height: 32px; /* 160% */
        list-style: none;
        transition: all 0.5s ease;
      }
    }

    .open {
      left: 0%;
      transition: all 0.5s ease;
    }

    .header-buttons {
      display: flex;
      gap: clamp(0.375rem, -0.757rem + 5.66vw, 0.75rem);
      font-weight: 400;
      line-height: 30px; /* 166.667% */

      #header-menu {
        display: none;
        transition: all 0.5s ease;
      }

      button {
        padding: clamp(0.344rem, 0.273rem + 0.35vw, 0.688rem)
          clamp(0.625rem, 0.369rem + 1.28vw, 1.875rem);
        font-size: clamp(0.875rem, 0.824rem + 0.26vw, 1.125rem);
        border-radius: 25.5px;
        border: none;
        color: #fff;
        background: rgba(217, 217, 217, 0.2);
      }

      button:nth-last-child(2) {
        padding: clamp(0.344rem, 0.273rem + 0.35vw, 0.688rem)
          clamp(0.625rem, 0.369rem + 1.28vw, 1.875rem);
        font-size: clamp(0.875rem, 0.824rem + 0.26vw, 1.125rem);
        border-radius: 25.5px;
        border: 1px solid #fff;
        background: none;
      }
    }
  }
}

// ===========================================================================

@import "media.scss";
