@import "list.scss";
@import "reset.scss";

[class*="__container"] {
  max-width: 1255px;
  padding: 0 15px;
  margin: 0 auto;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

body {
  background: #f7f7f7;
  section:nth-child(6) {
    background: #fff;
  }
  section:nth-child(7) {
    background: #fff;
  }
  section:nth-child(8) {
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0.46) 100%
      ),
      url(@img/img/backgrounds/microphone.jpg),
      lightgray 0px -1163.728px / 100% 312.139% no-repeat;
    background-size: cover;
    background-position-y: center;
    background-position-x: center;
  }

  section:nth-child(9) {
    background: #fff;
  }

  // section:nth-child(4) {
  //   background: #fff;
  // }
  // section:nth-child(5) {
  //   background: #fff;
  // }
  // section:nth-child(6) {
  //   background: linear-gradient(
  //       180deg,
  //       rgba(0, 0, 0, 0.8) 0%,
  //       rgba(0, 0, 0, 0.46) 100%
  //     ),
  //     url(@img/img/backgrounds/microphone.jpg),
  //     lightgray 0px -1163.728px / 100% 312.139% no-repeat;
  //   background-size: cover;
  //   background-position-y: center;
  //   background-position-x: center;
  // }
}

// ===========================================================================BODY

.header-wrapper {
  background-image: url(@img/img/backgrounds/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

// =====================================================================HEADER

@import "./styleComponents/header.scss";

// =====================================================================AUDIO-PLAYER

@import "./styleComponents/audio-player.scss";

// =====================================================================POPULAR

@import "./styleComponents/popular.scss";

// =====================================================================EXPLORE-MORE

@import "./styleComponents/explore-more.scss";

// =====================================================================OFFER

@import "./styleComponents/offer.scss";

// =====================================================================REVIEWS

@import "./styleComponents/reviews.scss";

// =====================================================================RATE

@import "./styleComponents/rate.scss";

@import "media.scss";
