@import "list.scss";
@import "reset.scss";

[class*="__container"] {
  max-width: 1255px;
  padding: 0 15px;
  margin: 0 auto;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
}

body {
  background: #f7f7f7;
  section:nth-last-child(2) {
    background: #f7f7f7;
    padding-bottom: 1px;
  }
  section:nth-last-child(1) {
    background: #fff;
  }
}

// ===========================================================================BODY

.header-wrapper {
  background-image: url(@img/img/backgrounds/main.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

// ===========================================================================HEADER

@import "./styleComponents/header.scss";

// =====================================================================AUDIO-PLAYER

@import "./styleComponents/audio-player.scss";

// =====================================================================POPULAR

@import "./styleComponents/popular.scss";

// =====================================================================EXPLORE-MORE

@import "./styleComponents/explore-more.scss";

@import "media.scss";
